{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}
{% block description %}ABGEO's Personal website login page{% endblock %}

{% block body %}
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Authentication</h2>
                        <div class="page_link">
                            <a href="{{ path('index') }}">Home</a>
                            <a href="{{ path('app_login') }}">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Login area =================-->
    <section class="p_120">
        <div class="container">
            <div class="row justify-content-md-center">

                <div class="col-lg-6">
                    <form method="post">

                        <div class="col-md-12">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="form-group">
                                <label for="inputUsername" class="sr-only">Username</label>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            </div>

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>

                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn submit_btn"> Sign in</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!--================ End Login area =================-->
{% endblock %}