{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block description %}ABGEO's Personal website{% endblock %}

{% block body %}
    <!--================ Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            <img src="{{ asset('img/abgeo.JPG') }}" alt="ABGEO's Avatar">
                        </div>
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>Hello World, i am</h6>
                                <h3>Temuri Takalandze</h3>
                                <h4>
                                    $ Back-End Developer
                                    <span class="terminal-cursor">__</span>
                                </h4>
                                <ul class="list basic_info">
                                    <li>
                                        <a href="https://happyhappybirthday.net/en/2000/01/07" target="_blank">
                                            <i class="lnr lnr-calendar-full"></i> 7th January, 2000
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:995579194727">
                                            <i class="lnr lnr-phone-handset"></i>
                                            (+995) <span class="counter">579</span> <span class="counter">19</span>-<span class="counter">47</span>-<span class="counter">27</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:me@abgeo.dev"><i class="lnr lnr-envelope"></i> me@abgeo.dev</a>
                                    </li>
                                    <li>
                                        <a href="https://www.google.com/maps/place/Tbilisi/@41.7326304,44.6987671,11z/data=!3m1!4b1!4m5!3m4!1s0x40440cd7e64f626b:0x61d084ede2576ea3!8m2!3d41.7151377!4d44.827096"
                                           target="_blank"><i class="lnr lnr-home"></i> Tbilisi, Georgia
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list personal_social">
                                    <li>
                                        <a href="https://github.com/ABGEO07" target="_blank" title="Me on GitHub">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/abgeo07/" target="_blank" title="Me on Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/ABGEO07" target="_blank" title="Me on Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.reddit.com/user/ABGEO/" target="_blank" title="Me on Reddit">
                                            <i class="fa fa-reddit"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://medium.com/@abgeo07" target="_blank" title="Me on Medium">
                                            <i class="fa fa-medium"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Welcome Area =================-->
    <section class="welcome_area p_120">
        <div class="container">
            <div class="row welcome_inner">
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h4>About Myself</h4>
                        <div class="pb-3">
                            <p>Middle PHP Developer, having over 3 years of experience.</p>
                            <ul class="unordered-list">
                                <li><b>My Framework</b>: <i>Symfony</i></li>
                                <li><b>My CMS</b>: <i>Drupal</i></li>
                                <li><b>My OS</b>: <i>Linux, 5.4.6-2-MANJARO</i></li>
                                <li><b>My IDE</b>: <i>JetBrains PhpStorm</i></li>
                                <li><b>My Debugger</b>: Xdebug<i></i></li>
                            </ul>
                        </div>
                        {#
                        <div class="row">
                            <div class="col-md-4">
                                <div class="wel_item">
                                    <i class="lnr lnr-database"></i>
                                    <h4><span class="counter">2.5</span>M</h4>
                                    <p>Count 1</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wel_item">
                                    <i class="lnr lnr-book"></i>
                                    <h4><span class="counter">1465</span></h4>
                                    <p>Count 2</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wel_item">
                                    <i class="lnr lnr-users"></i>
                                    <h4><span class="counter">3965</span></h4>
                                    <p>Count 3</p>
                                </div>
                            </div>
                        </div>
                        #}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tools_expert">
                        <div class="skill_main">
                            <div class="skill_item">
                                <h4>PHP</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>JavaScript</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>MySQL</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Symfony Framework</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Drupal</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Welcome Area =================-->

    <!--================ My Tabs Area =================-->
    <section class="mytabs_area p_120">
        <div class="container">
            <div class="tabs_inner">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Working Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Education</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>January 2019 to present&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Omedia</h4>
                                        <p>Back-End Developer<br>Tbilisi, Georgia</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>December 2018 to present</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Informatics.Ge</h4>
                                        <p>Creator & Owner<br>Tbilisi, Georgia</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>October 2017 to present</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Caucasus School of Technology</h4>
                                        <p>Bachelor of<br>Information Technology</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End My Tabs Area =================-->

    <!--================Testimonials Area =================-->
    <section class="last_works_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Last Works</h2>
                <p>Here you will see the recent projects that I worked on.</p>
            </div>
            <div class="lw_inner">
                <div class="lw_slider owl-carousel">
                    {% for project in recentProjects %}
                        <div class="item">
                            <div class="lw_item">
                                <a href="{{ path('single_project', { 'id': project.id }) }}">
                                    <h4>{{ project.title }}</h4>
                                    <p><i class="fa fa-calendar"></i> <b>{{ project.startDate|date('d/m/Y') }}</b></p>
                                    <p>{{ project.description|preview|raw }}</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--================End Testimonials Area =================-->
{% endblock %}
