{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}
{% block description %}{{ project.description|striptags|slice(0, 150) }}{% endblock %}
{% block og_image %}{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('uploads/images/projects/' ~ project.image) }}{% endblock %}
{% block og_type %}article{% endblock %}

{% block body %}
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>{{ project.title }}</h2>
                        <p class="pb-3"><i class="fa fa-calendar"></i> The project started at: <b>{{ project.startDate|date('d/m/Y') }}</b></p>
                        <div class="page_link">
                            <a href="{{ path('index') }}">Home</a>
                            <a href="{{ path('projects') }}">Projects</a>
                            <a href="{{ path('single_project', { 'id': project.id }) }}">{{ project.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Project Area =================-->
    <section class="project_area white_project p_120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="gallery_f_inner projectsGallery">
                        <div class="project_item">
                            <div class="h_gallery_item">
                                <div class="g_img_item">
                                    <img class="img-fluid" src="{{ asset('uploads/images/projects/' ~ project.image) }}"
                                         alt="{{ project.title }}">
                                    <a class="light" href="{{ asset('uploads/images/projects/' ~ project.image) }}">
                                        <img src="{{ asset('img/gallery-icon.png') }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-post pt-5 margin">
                        {{ project.description|raw }}

                        <div class="comments-area">
                            <div id="emotify-container"></div>
                            <script type='text/javascript'>
                                var el = document.createElement('script');
                                var url = window.location.href;
                                var head = document.getElementsByTagName("head")[0];
                                el.src = '//www.goemotify.com/api/2.0/reactions.js?url='+url+'&apikey=b2102ac6784a712cf50b859efa7b091069';
                                el.type = 'text/javascript';
                                head.appendChild(el);
                            </script>

                            <div id="emotify-comments-container"></div>
                            <script type='text/javascript'>
                                var el = document.createElement('script');
                                var url = window.location.href;
                                var head = document.getElementsByTagName("head")[0];
                                el.src = '//www.goemotify.com/api/2.0/comments_widget.js?url='+url+'&apikey=b2102ac6784a712cf50b859efa7b091069';
                                el.type = 'text/javascript';
                                head.appendChild(el);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Project Area =================-->
{% endblock %}
